# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=shakil
DB_PASS=123456
DB_NAME=hrhub
DB_SSLMODE=disable

# API Server
API_PORT=5000
JWT_SECRET=hrhub-secret-key-change-in-production-2024

# Frontend
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
